html{

    background-color: rgb(235, 235, 235);

}

body{
    margin:0;
}

#titlebar{
    
    height: 60px;


}

#flexed{ 

    display: flex;
    height: calc(100vh - 50px);  
}

#main{
    width:90%;
}
#side{
    width:10%;
}

.container{

    border-style: solid;
    border-color: rgb(148, 82, 82);
    border-width: 5px;
}

#choices{ 
    display: flex;
    width: 86%;
    position: absolute;
    left: 12%;
    top: 5%;
    background-color: rgb(114, 114, 114);
    color: antiquewhite;
    padding: 0.5%;
}

.choices {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 150px;
  }

 